
[submodule "submodules/glm"]
    path = submodules/glm
    url = https://github.com/g-truc/glm.git

[submodule "submodules/imgui"]
    path = submodules/imgui
    url = https://github.com/ocornut/imgui.git

[submodule "submodules/Horde3d"]
    path = submodules/Horde3d
    url = git@github.com:horde3d/Horde3D.git
